<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Screen Stream</title>

    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: top;
        }
    </style>

    <script>
        class Config {
            onConfigChanged(f) {
                this.configChangedEventListener = f;
            }

            constructor() {
                this.streamWidth = 1;
                this.streamHeight = 1;
                this.bodyWidth = 1;
                this.bodyHeight = 1;
                this.calculated = {};
                this.configChangedEventListener = undefined;
            }

            setStreamDimensions({streamWidth, streamHeight}) {
                this.streamWidth = streamWidth;
                this.streamHeight = streamHeight;
                this.updateCalculatedConfig();
            }

            setBodyDimensions({bodyWidth, bodyHeight}) {
                this.bodyWidth = bodyWidth;
                this.bodyHeight = bodyHeight;
                this.updateCalculatedConfig();
            }

            updateCalculatedConfig() {
                console.log("Update calculated config")
                const imgAspectRatio = this.streamWidth / this.streamHeight;
                const bodyAspectRatio = this.bodyWidth / this.bodyHeight;

                let renderedWidth, renderedHeight;

                if (bodyAspectRatio > imgAspectRatio) {
                    renderedHeight = this.bodyHeight;
                    renderedWidth = imgAspectRatio * renderedHeight;
                } else {
                    renderedWidth = this.bodyWidth;
                    renderedHeight = renderedWidth / imgAspectRatio;
                }

                const offsetX = (this.bodyWidth - renderedWidth) / 2;
                const offsetY = (this.bodyHeight - renderedHeight) / 2;

                this.calculated = {
                    renderedWidth,
                    renderedHeight,
                    offsetX,
                    offsetY
                };

                if (this.configChangedEventListener !== undefined) this.configChangedEventListener(this.calculated );
            }

            getOffset() {
                console.log({offsetX: this.calculated.offsetX, offsetY: this.calculated.offsetY})
                return {offsetX: this.calculated.offsetX, offsetY: this.calculated.offsetY};
            }

            getRenderedDimension() {
                console.log({width: this.calculated.renderedWidth, height: this.calculated.renderedHeight})
                return {width: this.calculated.renderedWidth, height: this.calculated.renderedHeight};
            }
        }

        class MouseControl {
            constructor(config) {
                this.config = config;
                this.webSocketForMouseControl = new WebSocket('ws://' + document.domain + ':' + location.port + "/mouse");
                this.lastX = undefined;
                this.lastY = undefined;
            }

            sendMouseEventToServer(x, y, event) {
                const {offsetX, offsetY} = this.config.getOffset();
                const {width, height} = this.config.getRenderedDimension();

                x -= offsetX;
                y -= offsetY;
                this.webSocketForMouseControl.send(`{"x": ${x}, "y": ${y}, "event": "${event}", "width": ${width}, "height": ${height}}`);
            }

            touchStart(x, y) {
                this.sendMouseEventToServer(x, y, "down");
            }

            touchMove(x, y) {
                this.sendMouseEventToServer(x, y, "move");
            }

            touchEnd(x, y) {
                this.sendMouseEventToServer(x, y, "up");
            }

            handleTouchStart(event) {
                if (this.lastX !== undefined && this.lastY !== undefined) {
                    this.touchEnd(this.lastX, this.lastY); // To handle the bug that the touchend or touchcancel is not triggering
                }
                const touch = event.touches[0];
                this.lastX = touch.clientX;
                this.lastY = touch.clientY;
                this.touchStart(this.lastX, this.lastY);
            }

            handleTouchMove(event) {
                const touch = event.touches[0];
                this.lastX = touch.clientX;
                this.lastY = touch.clientY;
                this.touchMove(this.lastX, this.lastY);
            }

            handleMouseDown(event) {
                console.log("Mouse pressed down");
                this.lastX = event.clientX;
                this.lastY = event.clientY;
                this.touchStart(this.lastX, this.lastY);
            }

            handleMouseMove(event) {
                this.lastX = event.clientX;
                this.lastY = event.clientY;
                this.touchMove(this.lastX, this.lastY);
            }

            handleMouseUp(event) {
                this.lastX = event.clientX;
                this.lastY = event.clientY;
                this.touchEnd(this.lastX, this.lastY);
            }
        }

        class VideoStream {
            constructor(config) {
                this.config = config;
                this.webSocketForVideo = new WebSocket('ws://' + document.domain + ':' + location.port + "/video");
                this.body = document.getElementById('body');

                this.webSocketForVideo.onmessage = this.handleVideoMessage.bind(this);
            }

            handleVideoMessage(event) {
                const packet = JSON.parse(event.data);
                if (packet.type === "meta") {
                    this.config.setStreamDimensions(packet.payload);
                } else {
                    this.body.style.backgroundImage = 'url(data:image/jpeg;base64,' + packet.payload + ')';
                }
            }
        }

        function onLoad() {
            const config = new Config();
            const mouseControl = new MouseControl(config);
            const videoStream = new VideoStream(config);

            const body = document.getElementById('body');
            const bodyWidth = window.innerWidth;
            const bodyHeight = window.innerHeight;
            config.setBodyDimensions({bodyWidth, bodyHeight})

            config.onConfigChanged(({renderedWidth, renderedHeight}) => {
                this.body = document.getElementById('body');
                body.style.backgroundSize = `${renderedWidth}px ${renderedHeight}px`;
            })

            body.addEventListener('touchstart',  mouseControl.handleTouchStart.bind(mouseControl));
            body.addEventListener('touchmove', mouseControl.handleTouchMove.bind(mouseControl));
            body.addEventListener('mousedown', mouseControl.handleMouseDown.bind(mouseControl));
            body.addEventListener('mousemove', mouseControl.handleMouseMove.bind(mouseControl));
            body.addEventListener('mouseup', mouseControl.handleMouseUp.bind(mouseControl));

            window.addEventListener('resize', () => {
                const bodyWidth = window.innerWidth;
                const bodyHeight = window.innerHeight;
                this.config.setBodyDimensions({bodyWidth, bodyHeight})
            });
        }
    </script>
</head>
<body onload="onLoad()" id="body">
</body>
</html>
