<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screen Stream</title>

    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: top;
        }
    </style>

    <script>
        var url = 'http://' + document.domain + ':' + location.port;
        let config = {received: {}, calculated: {}};
        const webSocketForVideo = new WebSocket(url+"/video");
        const webSocketForMouseControl = new WebSocket(url+"/mouse");

        function refreshConfigWithBackgroundImageOffsetAndSize() {
            const {streamWidth, streamHeight} = config.received;
            const bodyWidth = window.innerWidth;
            const bodyHeight = window.innerHeight;
            
            const imgWidth = streamWidth;
            const imgHeight = streamHeight;
            const imgAspectRatio = imgWidth / imgHeight;
            const bodyAspectRatio = bodyWidth / bodyHeight;

            let renderedWidth, renderedHeight;

            if (bodyAspectRatio > imgAspectRatio) {
                renderedHeight = bodyHeight;
                renderedWidth = imgAspectRatio * renderedHeight;
            } else {
                renderedWidth = bodyWidth;
                renderedHeight = renderedWidth / imgAspectRatio;
            }

            const offsetX = (bodyWidth - renderedWidth) / 2;
            const offsetY = (bodyHeight - renderedHeight) / 2;

            config.calculated = {
                renderedWidth,
                renderedHeight,
                offsetX,
                offsetY
            }
            document.getElementById("body").style.backgroundSize = `${renderedWidth}px ${renderedHeight}px`;
        }

        function touchStart(x, y) {
            console.log("touchStart")
            sendMouseEventToServer(x, y, "down");
        }

        function touchMove(x, y) {
            console.log("touchMove")
            sendMouseEventToServer(x, y, "move");    
        }

        function touchEnd(x, y) {
            sendMouseEventToServer(x, y, "up");
        }

        function sendMouseEventToServer(x, y, event) {

            console.log({x, y})
            const eventX = x;
            const eventY = y;
            console.log(config.calculated)

            x -= config.calculated.offsetX;
            y -= config.calculated.offsetY;

            console.log({x, y})

            webSocketForMouseControl.send(`{"x": ${x}, "y": ${y}, "event": "${event}", "width": ${config.calculated.renderedWidth}, "height": ${config.calculated.renderedHeight}, "comment": "${config.calculated.offsetX} - ${config.calculated.offsetY} | ${eventX} / ${window.innerWidth} - ${eventY} / ${window.innerHeight}"}`);
        }

        function onLoad() {
            var body = document.getElementById('body');

            let x = 0;
            let y = 0;

            body.addEventListener('touchstart', (event) => {
                touchEnd(x, y); // To handle the bug that the touchend or touchcancel is not triggering
                const touch = event.touches[0];
                x = touch.clientX;
                y = touch.clientY;
                touchStart(x, y);
            });

            body.addEventListener('touchmove', (event) => {
                const touch = event.touches[0];
                x = touch.clientX;
                y = touch.clientY;
                touchMove(x, y);
            });

            body.addEventListener('mousedown', (event) => {
                console.log("Mouse pressed down")
                x = event.clientX;
                y = event.clientY;
                touchStart(x, y);
            });

            body.addEventListener('mousemove', (event) => {
                x = event.clientX;
                y = event.clientY;
                touchMove(x, y);
            });

            body.addEventListener('mouseup', (event) => {
                x = event.clientX;
                y = event.clientY;
                touchEnd(x, y);
            });

            webSocketForVideo.onmessage = (event) => {
                const packet = JSON.parse(event.data);
                if (packet.type == "meta") {
                    config.received = packet.payload;
                    refreshConfigWithBackgroundImageOffsetAndSize();
                } else {
                    body.style.backgroundImage = 'url(data:image/jpeg;base64,' + packet.payload + ')';
                }
            };
        }
    </script>
</head>
<body onload="onLoad()" onresize="refreshConfigWithBackgroundImageOffsetAndSize()" id="body">
    <img id="a"/>
</body>
</html>